In [1]:
import pandas as pd

✅ **Ejercicio 1: Acceder elementos**

`frutas = ["manzana", "plátano", "fresa", "uva"]`

1. Imprime el primer y último elemento.
2. Agrega "naranja" al final.
3. Cambia "fresa" por "kiwi".
4. Imprime toda la lista.

In [26]:
frutas = ["manzana", "plátano", "fresa", "uva"]

frutas[0] # Primer elemento
frutas[-1] # Ultimo elemento

frutas.append("naranja") # Agrega un elemento al final de la lista

frutas[2] = "kiwi" # Cambiar fresa por kiwi

frutas

['manzana', 'plátano', 'kiwi', 'uva', 'naranja']

✅ **Ejercicio 2: Números al cuadrado**

`numeros = [1, 2, 3, 4, 5]`

Crea una nueva lista llamada `cuadrados` que contenga los cuadrados de cada número.

In [27]:
numeros = [1, 2, 3, 4, 5]

cuadrados = [numero ** 2 for numero in numeros]
cuadrados

[1, 4, 9, 16, 25]

✅ **Ejercicio 3: Crear y acceder**

`persona = {"nombre": "Luna", "edad": 6, "ciudad": "CDMX"}`

1. Imprime el nombre.
2. Cambia la ciudad a `"GDL".`
3. Agrega un nuevo campo `"hobby"` con el valor `"dibujar"`.
4. Imprime todas las claves y todos los valores.

In [35]:
persona = {"nombre": "Luna", "edad": 6, "ciudad": "CDMX"}

persona["nombre"] # Imprimir variable nombre

persona["ciudad"] = "GDL" # Cambiar ciudd CDMX a GDL

persona["hobby"] = "dibujar" # Agregar nueva columna y valor

persona

{'nombre': 'Luna', 'edad': 6, 'ciudad': 'GDL', 'hobby': 'dibujar'}

✅ **Ejercicio 4: Lista de diccionarios**

`alumnos = [ {"nombre": "Ana", "edad": 8},
    {"nombre": "Luis", "edad": 10},
    {"nombre": "Eva", "edad":9`

1. Imprime el nombre de cada alumno.
2. Suma todas las edades.
3. Crea una lista con los nombres de alumnos mayores de 8 años.
]

In [76]:
alumnos = [
    {"nombre": "Ana", "edad": 8},
    {"nombre": "Luis", "edad": 10},
    {"nombre": "Eva", "edad": 9}
]

imprimir = [alumno["nombre"] for alumno in alumnos] # Imprimir nombre de cada alumno

suma = sum([alumno["edad"] for alumno in alumnos]) # Sumar todas las edades

nombres = [alumno["nombre"] for alumno in alumnos if alumno["edad"] > 8] # Alumnos mayores de 8

✅ **Ejercicio 5: Elimina duplicados**

`colores = ["rojo", "azul", "rojo", "verde", "azul", "amarillo"]`

1. Convierte la lista a un set para eliminar los repetidos.
2. Convierte el set de nuevo a lista.
3. Agrega un nuevo color.

In [65]:
colores = ["rojo", "azul", "rojo", "verde", "azul", "amarillo"]

set(colores) # Convertir list a set

list(colores) # Convertir set a lista

colores.append("rosa") # Agregar un nuevo elemento

colores

['rojo', 'azul', 'rojo', 'verde', 'azul', 'amarillo', 'rosa']

✅ **Ejercicio 6: Operaciones con sets**

`set1 = {"manzana", "pera", "uva"}``
set2 = {"manzana", "sandía", "uva"`}
1. Encuentra los elementos que están en **ambos sets.**
2. Encuentra los que están **solo en** `set1.`
3. Une ambos sets en uno nuevo.

In [71]:
set1 = {"manzana", "pera", "uva"}  
set2 = {"manzana", "sandía", "uva"}

ambos = set1 & set2 # Estan en ambos sets

solo_set1 = set1 - set2 # Solo está en set1

union = set1 | set2  # Unir dos sets

✅ **Ejercicio 7: Filtrar pares**

`numeros = [1, 2, 3, 4, 5, 6, 7, 8]`

Crea una nueva lista con solo los números **pares.**

In [7]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8]

pares = [valor for valor in numeros if valor % 2 == 0]
pares

[2, 4, 6, 8]

✅ **Ejercicio 8: Texto a longitudes**

`palabras = ["gato", "perro", "oso", "elefante"]`

Crea una lista con la **cantidad de letras** de cada palabra.

In [6]:
palabras = ["gato", "perro", "oso", "elefante"]

cantidad = [len(palabra) for palabra in palabras]
cantidad

[4, 5, 3, 8]

✅ **Ejercicio 9: Mayúsculas y minúsculas**

`nombres = ["ANA", "Luis", "EVA", "juan"]`

Crea una nueva lista que diga:

- `"MAYÚSCULA"` si el nombre está en mayúsculas
- `"minúscula"` si no lo está

In [5]:
nombres = ["ANA", "Luis", "EVA", "juan"]

may_min = ["MAYÚSCULA" if nombre.isupper() else "minúscula" for nombre in nombres]
may_min

['MAYÚSCULA', 'minúscula', 'MAYÚSCULA', 'minúscula']

✅ **Ejercicio 10: Aplanar lista de listas**

`datos = [[1, 2], [3, 4], [5]]`

Usa comprensión de listas para aplanarla:

In [3]:
datos = [[1, 2], [3, 4], [5]]

aplanar = [valor for sublista in datos for valor in sublista]
aplanar

[1, 2, 3, 4, 5]